@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$primary-btn-color: #3e3144;
$secondary-btn-color: #545895;
$font: "Nunito", sans-serif;

body {
    margin: 0;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
}

button {
    cursor: pointer;
}

.btn {
    width: 100%;
    border: 1px solid;
    background-color: $primary-btn-color;
    color: #fff;
    font-family: $font;
    padding: 5px 0px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    @extend .btn;
    border-color: #171717;
    background-color: $primary-btn-color;
}

.btn-secondary {
    @extend .btn;
    border-color: #454a69;
    background-color: $secondary-btn-color;
}

.disabled {
    pointer-events: none;
    opacity: .3;
}


.footer {
    margin-top: 40px;
    line-height: 100px;
    background-color: lighten($color: $primary-btn-color, $amount: 4);
    color: #fff;
    text-align: center;
    font-size: .8rem;
}


.empty-banner {
    margin: 50px 0px;
    text-align: center;

    img {
        width: 50%;
        opacity: .3;
        max-width: 300px;
    }

    .text {
        text-transform: uppercase;
        margin: 10px 0px;
        color: #b8b8b8;
    }
}